

.par1 {
    background-color: greenyellow;
}
.par2 {
    background-color: greenyellow;
}
.par3 {
    background-color: greenyellow;
}
.par4 {
    background-color: greenyellow;
}
.par5 {
    background-color: greenyellow;
}
